/*The style for the side menu is inspired by: https://www.w3schools.com/w3css/w3css_sidebar.asp*/

.sidebar {
    height: 100%;
    width: 200px;
    background-color: #fff;
    position: fixed!important;
    z-index: 1;
    overflow: auto;
    width: 100%;
    display: block;
    padding: 8px 16px;
    text-align: left;
    border: none;
    white-space: normal;
    float: none;
    outline: 0

}

.light-grey, .light-gray {
    color: #000!important;
    background-color: #f1f1f1!important
}

.light-grey, .hover-light-grey:hover, .light-gray, .hover-light-gray:hover {
    color: 
#000 !important;
background-color:
    #f1f1f1 !important;
}

html, body {
    font-family: Verdana,sans-serif;
    font-size: 15px;
    line-height: 1.5;
}

.bar-block .bar-item {
    width: 100%;
    display: block;
    padding: 8px 16px;
    text-align: left;
    border: none;
    white-space: normal;
    float: none;
    outline: 0;
}

.button {
    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: normal
}

.button:hover {
    color: #000!important;
    background-color: #ccc!important;
}

a {
    color: inherit;
}


.container {
    padding: 0.01em 16px
}


.teal {
    color: #fff!important;
    background-color: #009688!important
}

html {
    box-sizing: border-box
}

*, *:before, *:after {
    box-sizing: inherit
}

/* Extract from normalize.css by Nicolas Gallagher and Jonathan Neal git.io/normalize */

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0
}

* {
    text-align: left;
}

code {
    background: #f4f4f4;
    border: 1px solid #ddd;
    border-left: 3px solid #f36d33;
    color: #666;
    page-break-inside: avoid;
    font-family: monospace;
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1em 1.5em;
    display: block;
    word-wrap: break-word;
}

#a {
    background-color: #ffffcc;
    height: 50px;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#b {
    background-color: black;
    color: white;
    height: 27px;
    display: flex;
    border-left: 4px solid #4CAF50;
    box-sizing: inherit;
    padding-left: 10px;
    flex-direction: column;
    justify-content: center;
}

#c {
    color: #006600;
    font-style: normal;
    font-size: 19px;
}

span {
    color: crimson;
    background-color: #f1f1f1;
    padding-left: 4px;
    padding-right: 4px;
}


a {
    background-color: transparent;
    color: inherit

}

a:active, a:hover {
    outline-width: 0
}
