pre {
  padding: 5px;
}
.b {
  background-color: #F5F6CE;
  padding: 5px;
}

.c {
  background-color: white;
  margin: 5px;
}

.d {
  display: flex;
  flex-direction: row;
  padding: 0 5px 5px 5px;
  justify-content: space-between;
}

.e {
  margin-top: 15px;
  margin-left: 5px;
}
